
.Lander h1 {

    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight:500;
    line-height: 26.4px;

}

.Lander p {
    color:#999;
}